.acc-item {
  display: flex;
  align-items: center;
  background-color: #efefef;
  padding: 0 5px;
  border: 1px #ababab solid;
}

.acc-header {
  flex: 1;
  margin: 0;
  font-size: 20px;
}

.acc-header button {
  width: 100%;
  text-align: start;
  border: none;
  outline: none !important;
  padding: 10px 0;
}
